html, body {
    margin: 0;

}

.header {
    text-align: center;
    min-height: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.header li {
    list-style-type: none;
    float: left;
    margin-left: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.header li a {
    text-decoration: none;
    color: rgb(30,30,30);
}

.header li a:hover {
    border-bottom: 4px solid #ff7b25;
}



#on_this_page {
    border-bottom: 4px solid #ff7b25;

}


.bas {
    width: 1000px;
    margin: 0 auto;
}
.image {
    width: 1100px;
    height: 50px;
    margin: 0 auto;
    background-image: url(img/elipsa.jpg);
}

.bas .ciary {
    width: 950px;
    margin: 0 auto;
    margin-right: 170px;
    margin-top: -40px;
    border: 1 px solid darkblue;
    padding: 0;
}



.bas .ciary tr td {
    border-right: 2px solid #ff7b25;
    height: 25px;

}

.tabulka {
    width: 1075px;
    margin-left: 120px;
}
.tabulka a {
    font-family: "Montserrat",monospace;
    text-decoration: none;
    font-size: 22px;
    color: darkblue;
}


/* MAIN CONTENT */
.main {
    margin-top: 50px;
}

.main h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.main p {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: "Raleway", serif;
}



/* MAIN CONTENT */

.article {
    text-align: justify;

}

.head {
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin-top: 45px;
    margin-bottom: -15px;
}
.head1 {
    text-align: justify;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin-top: 75px;
    margin-bottom: -15px;
}
.head2 {
    text-align: justify;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin: 75px 15px -35px 125px;

}



footer {
    background-color: #01053b;
    color: white;
    height: 80px;

}

footer ul {
    margin: 0;
    padding: 10px;
    margin-left: 205px;
}



footer ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    font-family: "Montserrat", serif;
}

footer ul li img {
    margin-top: 10px;
    margin-left: 40px;
}

.gmail {
    margin-top: 7px;
}


footer ul li:nth-child(3),footer ul li:nth-child(5), footer ul li:nth-child(7) {
    margin: 15px 0 0 5px;
}
